

{% extends 'main.html' %}
<!-- Page Header-->
{% block body %}

<header
    class="masthead"
    style="background-image: url('{{ url_for( 'static' , filename = 'assets/img/admin-bg.png')}}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Admin Panel</h1>
                    <span class="subheading">Manage Posts and change them</span>
                </div>
            </div>
        </div>
    </div>
</header>

        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>

                {% endfor %}
            {% endif %}
        {% endwith %}  

<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-12 col-lg-10 col-xl-9">
            <h3 class="text-center">WELCOME ADMIN! YOU ARE LOGGED IN!!</h3>
            <br />
<table id="myTable" class="table table-striped nowrap">
    <thead class="table-dark">
        <tr>
            <th scope="col">S.No</th>
            <th scope="col">Title</th>
            <th scope="col">Date</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
        <tr>
            <td>{{ post.sno }}</td>
            <td>{{ post.title }}</td>
            <td>{{ time_ago_converter(post.date) }} Ago</td>
            <td>
                <a href="/edit/{{post.sno}}" class="btn btn-primary btn-sm">✏️ Edit</a>
            </td>
            <td>
                <a href="/delete/{{post.sno}}" class="btn btn-danger btn-sm"
                   onclick="return confirm('Are you sure you want to delete this post?');">
                    🗑️ Delete
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

            <br>
        </div>
    </div>
</div>

        </div>
    </div>
</div>

{% endblock body %}
<!-- Footer-->
